/*navbar*/
.navbar {
	background-color: #3A3F52;
	max-height: 70px;
}

.navbar img {
	max-width: 15%;
}

.dropdown-toggle-nav {
	color: #fff;
	margin-right: 50px;
}

.dropdown-toggle-nav:hover {
	color: #ececec;
	text-decoration: none;
}

.dropdown-menu {
	top: 35px;
    left: -10px;
}

.dropdown > .dropdown-menu:after {
   	position: absolute;
    top: -8px;
    right: 10px;
    display: inline-block;
    content: '';
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
}

.toggle-btn {
	color: #fff;
    position: absolute;
    left: 17%;
    border-right: 1px solid;
    border-left: 1px solid;
    padding: 5px 30px;
    font-size: 35px;
    height: 100%;
}

.toggle-btn:hover {
	color: #fff;
    border-right: 1px solid;
    border-left: 1px solid;
    background-color: #616679;
}

.notif {
	left: -343px;
	background: #e5e5e5;
	padding: 0;
}

.notif-item {
	width: 320px;
    white-space: normal;
}

.notif-item p, .notif-title, .notif-foot, .notif-item-left, .notif-item-right {
	font-size: 10pt;
}

.notif-item-left, .notif-item-right {
	width: 50%;
	float: left;
}

.notif-hover:hover {
	background-color: #e5e5e5;
}

.notif-title:hover {
	background-color: #fff;
}

.notif-title, .notif-foot {
	font-weight: bold;
	background-color: #fff;
}

.bordered {
	border-top: 1px solid;
}

.label-danger {
	background-color: #f00;
    padding: 0px 5px;
    border-radius: 50%;
    font-size: 8pt;
    position: absolute;
    top: -5px;
    left: 5px;
}

.points-last {
	color: #fff;
	margin-right: 100px;
}

.points {
	color: #fff;
	margin: 0 30px;
}

.points p, .points-last p{
	margin: 0;
    text-align: center;
}

.point-item {
	font-size: 20pt;
    font-weight: bold;
}

.point-desc {
	font-size: 8pt;
}




/*sidebar*/
#sidebar {
	width: 17.05%;
    height: auto;
    float: left;
}

.list-group-item {
    text-align: left;
    width: 100%;
    font-size: 14px;
    border-radius: 0;
    color: #000;
    font-weight: bold;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-right: none;
    border-left: none;
}

.list-group-item:hover {
    background-color: #e6e6e6;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.dropdown-toggle::after {
    float: right;
    margin-top: 5px;
}

.btn-sidebar{
	border-bottom: 1px solid #000;
}




/*konten*/
#content {
	background-color: #F1F3F6;
	float: left;
    min-height: 600px;
    width: 82.95%;
    border-left: 1px solid #EDEDED;
    padding: 30px 50px;
}

.thumb, .thumb-right {
	border: 1px solid #DDDEE1;
	margin: 10px;
	color: #fff;
	padding: 0;
}

.thumb {
	background-color: #F8F8F8;
}

.thumb-right {
	background-color: #fff;
	height: 200px;
	max-height: 550px;
}

.thumb-scroll {
	overflow-y: scroll;
	height: 550px;
}

.thumb-title {
	background-color: #3A3F52;
	padding: 10px;
	font-weight: bold;
	margin-bottom: 0;
}

.thumb-content {
	color: #000;
    width: 94%;
    margin: 3%;
    border: 1px solid;
    padding: 7px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 2px #c7c7c7;
    min-height: 175px;
}

.thumb-content hr{
	border: 0.5px solid #000;
}

.thumb-content-title {
	font-weight: bold;
}

.tct-content p {
	font-size: 13px;
    margin-bottom: 5px;
}

.tct-content button, .tr-content button {
	height: 30px;
	border: none;
	cursor: pointer;
}

.tr-content {
	color: #000;
    padding: 10px;
    font-size: 14px;
}

/*calendar*/
#calendar {
	margin: 10px;
    width: 95%;
}

.calendar-head {
	background-color: #fff;
    color: #000;
    padding: 10px;
}

.calendar-head a {
    color: #000;
    text-decoration: none;
    margin: 0 15px;
}

.calendar-head a, .calendar-head {
	font-size: 16pt;
}

.tbl-calendar {
	width: 100%;
    background: #fff;
}

.tbl-calendar button {
	max-width: 140px;
    font-size: 8pt;
    padding: 5px;
    border-radius: 0;
    background-color: #1DB08F;
    color: #fff;
}

.tbl-calendar td {
	width: 14.2%;
	height: 120px;
	border: 1px solid #D9D9D9;
	vertical-align: top;
    padding-top: 5px;
}

.tbl-calendar td:hover {
	background-color: #EDEDED;
}

.text-bold {
	font-weight: bold;
}




/*scrollbar*/
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #F8F8F8; 
}
 
::-webkit-scrollbar-thumb {
    background: #E5E5E5;
    border-radius: 5px; 
}

::-webkit-scrollbar-thumb:hover {
    background: #b4b4b4 
}